<footer class="footer">
    <div class="container-lg px-sm-4 px-3 opacity-75">
        <div class="footer_row row pt-4 gx-lg-5">
            <div class="col-lg-6 col-md-8 col-sm-10 mb-lg-0 mb-4">
                <div class="mb-5">
                    <a href="#" class="site_logo h2 fw_500 mb-0 f_prompt">LOGO</a>
                </div>
                <ul class="footer_social_links mb-4">
                    <li class="ms-4 ps-2">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li  class="ms-4 ps-2">
                        <a href="#"><i class="fa-brands fa-facebook-f mr-4"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                </ul>
                <p class="txt_silver2 lh-lg fw_500">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
                    النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا الن</p>
            </div>
            <div class="col-lg-6 col-md-9 pt-2">
                <h5 class="text-white mb-5 fw_500">روابط مهمة</h5>
                <div class="row footer_links fw_500">
                    <div class="col-sm-4 col-6 mb-sm-0 mb-5">
                        <ul>
                            <li><a href="#">الرئيسية</a></li>
                            <li><a href="#">الباقات</a></li>
                            <li><a href="#">الأسئلة الشائعة</a></li>
                            <li><a href="#">خريطة الموقع</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-6 mb-sm-0 mb-5">
                        <ul>
                            <li><a href="#">سياسة الخصوصية</a></li>
                            <li><a href="#">شروط الاستخدام</a></li>
                            <li><a href="#">الشريحة الإلكترونية</a></li>
                            <li><a href="#">المدونة</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-6">
                        <ul>
                            <li><a href="#">اتصل بنا</a></li>
                            <li><a href="#">حقوق المستخدم</a></li>
                            <li><a href="#">الشكاوي</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-4">
                <div class="footer_line"></div>
            </div>
            <div class="col-12 py-3">
                <p class="text-center mb-0 txt_silver2 fw_500">© جميع الحقوق محفوظة لمنصة 2021</p>
            </div>
        </div>
    </div>
</footer>