<!-- Sticky-nav -->
<div class="sitcky_nav d-md-none">
    <ul>
        <li>
            <a href="#" class="active">
                <img src="assets/images/sticky-icon-1.png" alt="icon">
                <span>الرئيسية</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/images/sticky-icon-2.png" alt="icon">
                <span>السلة</span>
            </a>
        </li>
        <li>
            <button class="compare_btn_c">
                <img src="assets/images/sticky-icon-3.png" alt="icon">
                <span>المقارنة</span>
            </button>
        </li>
        <li>
            <a href="#">
                <img src="assets/images/sticky-icon-4.png" alt="icon">
                <span>e-sim</span>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="assets/images/sticky-icon-5.png" alt="icon">
                <span>خط جديد</span>
            </a>
        </li>
    </ul>

</div>

<!-- header -->
<header class="site_header">
    <nav class="navbar navbar-expand-md py-4">
        <div class="container-lg px-sm-4 px-3">
            <a href="#" class="d_sm_block">
                <img src="assets/images/avatar_img.svg" alt="">
            </a>
            <a href="#" class="site_logo h2 fw_500 mb-0 f_prompt">LOGO</a>
            <a href="#" class="d_sm_block">
                <img src="assets/images/gear-icon.svg" alt="">
            </a>
            <div class="offcanvas offcanvas-start pt-md-0 pt-3" id="offcanvas">
                <div class="px-4 mb-4 d-md-none d-block">
                    <button type="button" class="btn b-0 p-0 bg-transparent shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close"><i class="fa-solid fa-xmark text-white fs-5"></i></button>
                </div>
                <ul class="site_nav p-0 ms-0 me-auto d-flex align-items-center list-unstyled">
                    <li class="me-5">
                        <a href="#" class="p-2 active">الرئيسية</a>
                    </li>
                    <li class="me-5">
                        <a href="#" class="p-2">الباقات</a>
                    </li>
                    <li class="me-5">
                        <a href="#" class="p-2">الأسئلة الشائعة</a>
                    </li>
                    <li class="me-5 d-flex align-items-center">
                        <a href="#" class="py-2 px-3 h_nav_btn">تسجيل دخول</a>
                        <a href="#" class="p-2 me-3 nav_cart"><img src="assets/images/cart-image.png" alt="icon"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-lg px-sm-4 px-3 d_sm_none">
        <div class="py-3">
            <h1 class="text-white h1 fw_1000 mb-4 pb-2">اسم باقة الشركة</h1>
            <p class="text-white mb-3">الرئيسية/ اسم الشركة/اسم باقة الشركة</p>
        </div>
    </div>
</header>