.similar_packages {
    background: #F9F9FB;
}

.similar_packages h2 {
    width: fit-content;
    position: relative;
    z-index: 3;
}

.similar_packages h2::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 98%;
    height: 8px;
    background: #BBE54A;
    z-index: -1;
}