<section>
    <div class="container-lg px-sm-4 px-3">
        <div class="row py-4 pb-5">
            <div class="col-lg-4 col-md-8 col-12 mb-5">
                <div class="right_content_wrapper">
                    <div class="right_inner_content">
                        <img src="assets/images/stc-logo.svg" class="mb-4" alt="">
                        <h5 class="mb-0 fw_1000">اسم باقة الشركة</h5>
                        <p class="lh-lg text-white opacity-75 mb-5">يمكن للعملاء الاستفادة من الباقة من خلال إرسال
                            7651 كرسالة نصّية إلى 1100
                        </p>
                        <hr>
                        <div class="d-flex align-items-center mt-2">
                            <p class="display-6 ms-2 fw-bold mb-0">90</p>
                            <p class="fw-semibold mb-0">ريال</p>
                        </div>
                        <p class="text-white opacity-75">ضريبة القيمة المضافة +</p>
                        <a href="#" class="btn_style white_btn fw-bold">اشترك الآن</a>
                        <div class="btns_wrapper">
                            <a href="#" class="btn_style outlined_btn"><img
                                    src="assets/images/arrow-right-left-icon.svg" alt=""> مقارنة الباقة</a>
                            <a href="#" class="btn_style outlined_btn">بطاقة الباقة</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
                <app-package-grid title="خصائص الباقة" [features]="packagesFeatures"></app-package-grid>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
                <app-package-grid title="التوافق" [features]="compatibility"></app-package-grid>
            </div>
            <div class="col-lg-4 col-12"></div>
            <div class="col-lg-8 col-12">
                <h5 class="fw-bold txt_blue opacity-50">ملاحظات</h5>
                <p class="fw-semibold br_md_none txt_blue opacity-50">لإحدى باقات البيانات ، يضاف رصيد البيانات إلى حساب
                    بياناتك مع
                    تجديد فترة الصلاحية. وفي حالة نفاذ كل رصيد حساب بياناتك، يحتسب أي استخدام آخر لخدمة الموبايل نت
                    بأسعار الباقة. <br>
                    لا يتم التجديد التلقائي لباقات الموبايل نت عند تاريخ انتهاء الصلاحية أو عند نفاذ رصيد البيانات.
                    ويحق للشركة تعديل باقات الموبايل نت أو سحبها وفق تقديرها المطلق <br>
                    البيانات المجانية صالحة لمدة 28 يوما فقط <br>
                    الاسعار لا تشمل ضريبة القيمة المضافة والتي سوف يتم تحصيلها بنسبة 15% من السعرعند اعادة الشحن
                </p>
            </div>
        </div>
    </div>
</section>